<swiper-container [attr.autoplay]="true" [attr.pagination]="true" class="banner-slider">
  <swiper-slide *ngFor="let banner of banners">
    <div *ngIf="banner.image_url" class="banner-slider__bg-overlay"
      [style.background-image]="'url(' + banner.image_url + ')'">
    </div>
    <div class="banner-slider__content">
      <div class="banner-slider__caption">
        <span *ngIf="banner.tagline" class="banner-slider__tagline">
          {{ banner.tagline }}
        </span>
        <h2 class="banner-slider__title">{{ banner.title }}</h2>
        <button *ngIf="banner.button_text" class="banner-slider__cta">
          {{ banner.button_text }}
        </button>
      </div>
    </div>
  </swiper-slide>
</swiper-container>