<app-header 
  [title]="categoryName" 
  [showBackButton]="true" 
  backButtonDefaultHref="/tabs/categories"
  [showSearch]="showSearch"
  searchPlaceholder="Search in this category">
</app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="sticky-filter-wrapper" [class.filter-hidden]="isFilterHidden">
    <div class="filter-bar">
      <div class="filter-scroll-container">
        <button class="filter-btn" (click)="openFilterSort('brands')">
          <ion-text>Brands</ion-text>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <button class="filter-btn" (click)="openFilterSort('pricing')">
          <ion-text>Pricing</ion-text>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <button class="filter-btn" (click)="openFilterSort('tags')">
          <ion-text>Tags</ion-text>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
        <button class="filter-btn" (click)="openFilterSort('sort')">
          <ion-icon name="swap-vertical-outline"></ion-icon>
          <ion-text>Sort By</ion-text>
        </button>
      </div>
      <!-- <div class="items-found-container">
        <ion-text class="items-found">{{ products.length }} items found</ion-text>
      </div> -->
    </div>
  </div>

  <div class="main-container product-list-container">
    <!-- Product Grid -->
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let product of products" class="ion-padding-small">
          <app-product-card 
            [product]="product" 
            (cardClick)="viewProduct($event.id)">
          </app-product-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more products...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
