<ion-content class="welcome-content" [scrollY]="isLoggedIn()">

  <!-- Not logged in -->
  <ng-container *ngIf="!isLoggedIn()">
    <div class="welcome-container">
      <div class="background-image">
        <ion-img src="./assets/images/login-bg.png" alt="Cute puppy and kitten"></ion-img>
      </div>
      <div class="gradient-overlay"></div>
      <div class="content-wrapper">
        <div class="top-section">
          <ion-icon name="paw" class="logo-icon"></ion-icon>
          <h1 class="app-title">Paws &<br>Whiskers</h1>
        </div>
        <div class="bottom-section">
          <ion-button class="btn-primary" expand="block" mode="ios" routerLink="/login">
            Login
          </ion-button>
          <ion-button class="btn-secondary" expand="block" mode="ios" routerLink="/register">
            Register
          </ion-button>
          <ion-text class="terms-text">
            By continuing, you agree to our
            <span class="terms-link" (click)="goToTerms($event)">Terms of Service</span>
          </ion-text>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Logged in: loading -->
  <ng-container *ngIf="isLoggedIn() && isLoadingProfile() && !userProfile()">
    <div class="profile-loading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>

  <!-- Logged in: profile data ready -->
  <ng-container *ngIf="isLoggedIn() && userProfile()">
    <app-user-profile></app-user-profile>
  </ng-container>

</ion-content>