<app-header [title]="'Reset Password'" [showBackButton]="true" [showCart]="false"></app-header>

<ion-content [fullscreen]="true" class="forgot-content">
  <!-- Hero Visual Background -->
  <div class="hero-visual">
    <div class="tonal-overlay"></div>
    <ion-img src="./assets/images/forgot-pwd-bg.png" alt="Hero background"></ion-img>
  </div>

  <div class="forgot-container">
    <main class="forgot-main">
      <section class="headline-section">
        <!-- <div class="icon-badge velveteen-gradient">
          <ion-icon name="lock-reset" class="headline-icon"></ion-icon>
        </div> -->
        <h2 class="forgot-title">Forgot Password</h2>
        <p class="forgot-subtitle">
          Enter your email address to reset your password
        </p>
      </section>

      <form [formGroup]="forgotForm" (ngSubmit)="onResetPassword()" class="forgot-form">
        <div class="input-group">
          <ion-label class="input-label">Email Address/Phone</ion-label>
          <div class="input-wrapper">
            <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
            <ion-input formControlName="identifier" type="text" placeholder="Enter your email or phone number"
              class="custom-input"></ion-input>
          </div>
          <ion-text color="danger"
            *ngIf="forgotForm.get('identifier')?.touched && forgotForm.get('identifier')?.invalid" class="error-text">
            <span *ngIf="forgotForm.get('identifier')?.errors?.['required']">Email or phone is required.</span>
            <span *ngIf="forgotForm.get('identifier')?.errors?.['invalidIdentifier']">Invalid email or phone
              format.</span>
          </ion-text>
        </div>

        <div class="security-card">
          <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
          <p class="info-text">
            We'll send a secure link to your email. For your protection, this link will expire in 15 minutes.
          </p>
        </div>

        <div class="form-actions">
          <ion-button expand="block" shape="round" type="submit" class="reset-btn" [disabled]="forgotForm.invalid">
            Reset Password
          </ion-button>
        </div>

        <!-- Decorative Elements -->
        <div class="decorative-icon">
          <ion-icon name="paw"></ion-icon>
        </div>
      </form>
    </main>
  </div>
</ion-content>