<app-header [searchBarConfig]="searchBarConfig"></app-header>

<ion-content>
  <ion-tabs (ionTabsDidChange)="onTabChange($event)">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="bottom-tab-nav__fab-wrap">
      <ion-fab-button class="bottom-tab-nav__fab" (click)="onScanTap()">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="">
      <ion-tab-button tab="home" href="/tabs/home">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categories" href="/tabs/categories">
        <ion-icon aria-hidden="true" name="grid"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="" class="spacer" disabled="true" style="pointer-events: none; opacity: 1;"></ion-tab-button>

      <ion-tab-button tab="alerts" href="/tabs/alerts">
        <ion-icon aria-hidden="true" name="notifications"></ion-icon>
        <ion-badge color="primary" *ngIf="(unreadCount$ | async)! > 0">{{ unreadCount$ | async }}</ion-badge>
        <ion-label>Alerts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" href="/tabs/profile">
        <ion-icon aria-hidden="true" name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>