ion-tab-bar {
    // contain: none;
    // overflow: visible;
    height: 81px;
    /* Apply Custom Bottom Nav Aesthetic */
    --background: rgba(var(--surface-rgb), 0.85);
    /* Slightly transparent for blur */
    --border: none;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-top: 1px solid var(--color-surface-container);
    // border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    padding-bottom: env(safe-area-inset-bottom);
    box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.06);

    :host-context(.dark-theme) & {
        --background: rgba(var(--surface-rgb), 0.75);
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.4);
    }
}

.bottom-tab-nav {
    &__fab-wrap {
        z-index: 9999;
        margin-bottom: 34px;
    }

    &__fab {
        width: 56px;
        height: 56px;
        margin: 0;

        background: linear-gradient(135deg, var(--color-primary), var(--color-primary-container));
        color: var(--color-on-primary);
        border-radius: var(--radius-full);
        border: 4px solid var(--color-surface-container-lowest);
        box-shadow: 0 8px 20px rgba(180, 0, 104, 0.3);
        box-sizing: border-box;
        transition: transform 0.1s;

        :host-context(.dark-theme) & {
            border: none;
        }

        &:active {
            transform: scale(0.95);
        }
    }

}