<section class="section community">
  <h2 class="section-title">Cảnh báo cộng đồng</h2>
  <div class="horizontal-scroll no-scrollbar">
    <div class="community-card active">
      <div class="image-overlay" style="background-image: url('assets/images/community_tick.png')"></div>
      <div class="card-content">
        <h3>Báo cáo bọ ve trong khu vực gần bạn</h3>
      </div>
    </div>
    <div class="community-card">
      <div class="image-overlay" style="background-image: url('assets/images/community_bait.png')"></div>
      <div class="card-content">
        <h3>Cảnh báo bả chó ở công viên</h3>
      </div>
    </div>
  </div>
</section>
