<ion-content [fullscreen]="true" class="ion-padding" [scrollEvents]="true" (ionScroll)="handleScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event, 'alerts')">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Alerts and Reminders Section -->
  <section class="section">
    <h3 class="section-title">Cảnh báo & Nhắc nhở cho Max</h3>

    <!-- Notification Card Item -->
    <app-notification-card-item *ngFor="let alert of alerts$ | async" [notification]="alert"></app-notification-card-item>
  </section>

  <!-- Community Alerts Section -->
  <app-community-alerts></app-community-alerts>
</ion-content>